* {
  box-sizing: border-box;
}
body {
	font-family: Berlin Sans FB ;
	font-size: 15px;
	color: black;
}

.row{
	margin-bottom: 15px;
	width: 100%;
}
.contenedor {
	/*width: 100%;
	max-width: 1200px;*/
	margin: 0 auto;
	padding: 10px;
}
h1 {
	color: black;
	font-size: 175%;
	text-align: center;
}
p{
	float: left;
}
.contenedor .contenido{
	/*position: relative;*/
	float: left;
	background-color:#A6ACAF;
	margin: 15px;
	box-sizing: border-box;
	border: 3px solid black;
	/*width: 100%*/

}
.contenedor .contenido .p1{
	background-color: #F5B7B1;
	font-size: 125%;
	box-sizing: border-box;
	border: 1px solid black;
	float: right;
	width: 120px
}
.contenedor .contenido .p2{
	background-color: #E74C3C;
	font-size: 125%;
	color: white;
	box-sizing: border-box;
	border: 1px solid black;
	float: right;
	width: 120px
}
.contenedor .contenido .p3{
	background-color: #FCF3CF;
	font-size: 125%;
	box-sizing: border-box;
	border: 1px solid black;
	float: right;
	width: 120px
}
/********** large devices only ***********/
@media (min-width: 992px){
	.col-lg {
		width:33%;
		float: left; 
	}
	/*.contenedor .contenido .p2{
		width:33%;
	}
	.contenedor .contenido .p3{
		width:33%;
	}*/
}
/********** medium devices only ***********/
@media (min-width: 768px) and (max-width: 991px);{
	.col-md-4 {
		width:50%;
		float: left; 
	}
	.col-md-6 {
		width:100%;
		float: left; 
	}
	/*.contenedor .contenido .p1{
  		width:50%;
	}
	.contenedor .contenido .p2{
		width:50%;
	}
	.contenedor .contenido .p3{
		width:100%;
	}*/
}
/********** short devices only ***********/
/*@media (max-width: 767px);{
	.contenedor .contenido {
  		width:100%;
    }
}*/