* {
  box-sizing: border-box;
}
body {
	font-family: Verdana ;
	font-size: 16px;
	color: black;
}

.row{
	width: 100%;
}
.contenedor {
	/*width: 100%;
	max-width: 1200px;*/
	margin: 0 auto;
}
h1 {
	color: black;
	font-size: 22px;
	text-align: center;
}
p {	
	float: left;
}
.contenedor .contenido{
	position: relative;
	background-color:#A6ACAF;
	float: left; 
	margin: 15px;
	box-sizing: border-box;
	border: 3px solid black;
	width: 100%

}
.contenedor .contenido .p1{
	background-color: #F5B7B1;
	box-sizing: border-box;
	border: 1px solid black;
	float: right;
	width: 80px
}
.contenedor .contenido .p2{
	background-color: #E74C3C;
	color: white;
	box-sizing: border-box;
	border: 1px solid black;
	float: right;
	width: 80px
}
.contenedor .contenido .p3{
	background-color: #FCF3CF;
	box-sizing: border-box;
	border: 1px solid black;
	float: right;
	width: 80px
}
/********** large devices only ***********/
@media (min-width: 992px){
	.contenedor .contenido {
		width:33%;
	}
	/*.contenedor .contenido .p2{
		width:33%;
	}
	.contenedor .contenido .p3{
		width:33%;
	}*/
}
@media (min-width: 991px) and (max-width: 768px);{
	.contenedor .contenido {
  		width:50%;
	}
	/*.contenedor .contenido .p2{
		width:50%;
	}
	.contenedor .contenido .p3{
		width:100%;
	}*/
}



